
<template name="navbarHeaderTemplate">
    <div id="navBarHeader" class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
        <!--<a id="appLogoLink" class="left clickable navbar-brand hidden-sm">-->
            <!--<img id="appLogo" class="unselectable pentasyllabic-logo" src="pentasyllabic.logo.square.transparent.png">-->
        <!--</a>-->

        <div class="fullwidth">
            <div class="col col-lg-3 title-column">
                <a id="navBarTitle" class="clickable unselectable navbar-brand">{{ getTitle }}</a>
            </div>
            <div class="col col-lg-9 search-column">
            </div>
        </div>

    </div>
</template>


<template name="navbarFooterTemplate">
    <div id="navBarFooter" class="navbar navbar-inverse navbar-fixed-bottom bs-docs-nav">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-footer-collapse">A</button>
        <div class="nav-collapse collapse navbar-footer-collapse">
            <ul class="nav navbar-nav">
                <li><a id="landingPageFooterLink" href="/">Home</a></li>
                <li><a id="featuresFooterLink" href="/features">Features</a></li>
                <li><a id="qualityControlPageFooterLink" href="/tests">Continuous Integration Environment</a></li>
                <li><a id="aboutUsPageFooterLink" href="/about">About</a></li>
            </ul>
            <div class="btn btn-info float-right sample">Get Title (CORS Test)</div>
        </div>
    </div>
</template>