<template name="eulaPage">
    <div id="eulaPage" class="page">
        <div class="container">


            <h5 class="featurette-heading">End User License Agreement</h5>
            <p class="lead">The following terms and conditions constitute a legally binding agreement (“Agreement”) between you ("User") and SomeCompany LLC, the operator of appframework.com.  Ongoing use of the AppFramework (“AppFramework” or "Software") entails acceptance of legal obligations and conferring legal rights. Violation in whole or in part of the Agreement may result in termination of access to the Software.</p>



            <hr>
            <h5 class="featurette-heading">Medical Disclaimer</h5>
            <p class="lead">THE MATERIAL PROVIDED IN THE APPFRAMEWORK IS NOT A SUBSTITUTE FOR PROFESSIONAL MEDICAL ADVICE OR TREATMENT.  YOU ACKNOWLEDGE THAT PENTASYLLABIC STUDIOS IS NOT ENGAGED IN THE PRACTICE OF MEDICINE AND THAT ALL DECISIONS MADE USING SENESCENCE WILL BE THE EXCLUSIVE RESPONSIBILITY OF YOU AND YOUR PHYSICIAN.  ALWAYS SEEK THE ADVICE OF YOUR PHYSICIAN OR OTHER QUALIFIED HEALTH PROVIDER WITH ANY QUESTIONS YOU MAY HAVE REGARDING YOUR HEALTH. IF YOU THINK YOU MAY HAVE A MEDICAL EMERGENCY, CALL YOUR DOCTOR OR 911 IMMEDIATELY.  PENTASYLLABIC STUDIOS EXPRESSLY DISCLAIMS ANY RESPONSIBILITY OR LIABILITY FOR ANY ADVERSE CONSEQUENCES OR DAMAGES RESULTING FROM YOUR RELIANCE ON SENESCENCE HEALTH PLANNER.</p>


            <hr>
            <!--<div class="laymanTranslation">Your user account is for you, and you alone.</div>-->
            <h5 class="featurette-heading">User License</h5>
            <p class="lead">Pentasyllanic Studios hereby grants to User a perpetual, non-transferable, limited membership license to use the AppFramework, subject to the terms and restrictions set forth in this Agreement. </p>

            <p class="lead">User shall not modify, copy, duplicate, reproduce, license or sublicense AppFramework.  Nor shall a User sell, resell, or transfer a user account, without the prior written consent of SomeCompany.  Your user account is for you alone.</p>


            <hr>
            <h5 class="featurette-heading">Acceptable and Lawful Use of Site by Members</h5>
            <p class="lead">Members may not use the Site to conduct any activity that is illegal or violates the rights of others, provide instructional information about illegal activities, or promote physical harm or injury against any group or individual.  You agree not to use the Site to: </p>

            <ul class="indented">
                <li>(a) violate or encourage the violation of any local, state, national, or international law;</li>
                <li>(b) stalk, harass, or harm another individual;</li>
                <li>(c) collect or store personal data about other users;</li>
                <li>(d) impersonate or otherwise misrepresent your affiliation with a person or entity;</li>
            </ul>

            <p class="lead">You agree not to use AppFramework, including the dropbox and task sharing features to send any message that is unlawful, libelous, defamatory, abusive, sexually explicit, threatening, vulgar, obscene, profane, racially offensive, or otherwise objectionable, as determined by SomeCompany in its sole discretion.</p>

            <p class="lead">You also acknowledge that in the context of health planning, illegal activities may include such practices as euthanasia, abortion, eugenics, and cloning.  Furthermore, you also acknowledge that SomeCompany must comply with local, state, national, and international laws, as applicable;  and when such laws are in conflict, will be compelled to enforce the most restrictive interpretations available regarding any such practices.</p>



            <hr>
            <h5 class="featurette-heading">Membership Termination</h5>
            <p class="lead">We may terminate your use of AppFramework without prior notice for any reason, in our sole discretion, if we believe that you have violated these Terms. You may discontinue your access to AppFramework at any time.</p>

            <p class="lead">You agree that SomeCompany may, with or without cause, immediately terminate your AppFramework membership or limit or terminate your access without prior notice. Any of the following may lead to a termination of a User's membership and use of AppFramework:</p>
            <ul class="indented">
                <li>(a) breaches or violations of this Agreement or other incorporated agreements or guidelines,</li>
                <li>(b) requests by law enforcement or other government agencies,</li>
                <li>(c) a request by you (self-initiated membership cancellation),</li>
                <li>(d) unexpected technical issues or problems, and</li>
                <li>(e) extended periods of inactivity. </li>
            </ul>



            <hr>
            <h5 class="featurette-heading">No Interference with Operation of Site</h5>
            <p class="lead">User agrees that any use of software agents, spiders, scrapers, or other automated means to access AppFramework will be well behaved, respecting robot.txt files, abiding by REST API queries, refraining from DDOS attacks, and throttling queries to not more frequently than once a second.</p>
            <p class="lead">User also agrees not to post content on AppFramework that contains any viruses, worms, logic bombs, fork bombs, nosql injections, stack overflows, or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information.
            <p class="lead">You shall not attempt to make the Site unavailable through denial-of-service attacks or similar means.</p>


            <hr>
            <!--<div class="laymanTranslation">lorem ipsum dolar sit et...</div>-->
            <h5 class="featurette-heading">Site for Non-Commercial Use Only</h5>
            <p class="lead">AppFramework is for  personal, individual members only, and may not be used in connection with any commercial endeavors. Companies and businesses may not become members and should not use AppFramework without express consent from SomeCompany.  Corporate licenses are available for certain commercial activities.  Please contact pentasyllabic.studios@gmaill.com for more information. </p>


            <hr>
            <h5 class="featurette-heading">Modifications to the Site</h5>
            <p class="lead">We reserve the right to modify AppFramework, add features, and discontinue any of the services offered in the Health Planner with or without notice to you. We shall not be liable to you or to any third party should we exercise our right to modify AppFramework or to change or discontinue our service offerings. If you object to any change to the Site or our services, your sole recourse will be to discontinue using the Health Planner. Your continued use of any modified service on the Site will indicate your assent to such changes. </p>


            <hr>
            <h5 class="featurette-heading">Links to External Websites</h5>
            <p class="lead">AppFramework may contain links to other websites and embed entire websites directly, which are not under the control of SomeCompany. The inclusion of any link or embedded content does not imply endorsement by SomeCompany of such site, nor is SomeCompany responsible for the content of such linked sites and content.</p>


            <hr>
            <h5 class="featurette-heading">Disclaimer of Warranties.</h5>
            <p class="lead">YOU EXPRESSLY AGREE THAT USE OF THE SITE IS AT YOUR SOLE RISK.  APPFRAMEWORK AND ASSOCIATED CONTENT AND SERVICES ARE MADE AVAILABLE ON AN “AS IS” AND “AS AVAILABLE” BASIS. PENTASYLLABIC STUDIOS DOES NOT MAKE AND DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES AND REPRESENTATIONS, INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, WITH REGARD TO SENESCENCE HEALTH PLANNER. PENTASYLLABIC STUDIOS DOES NOT WARRANT THAT ACCESS TO THE SITE OR ITS CONTENT OR SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT DEFECTS IN THE SITE WILL BE CORRECTED.</p>

            <p class="lead">SOMECOMPANY MAKES NO WARRANTY THAT THE SERVICES PROVIDED ON THE SITE WILL MEET YOUR REQUIREMENTS, OR THAT THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE; NOR DOES PENTASYLLABIC STUDIOS MAKE ANY WARRANTY AS TO THE ACCURACY OR RELIABILITY OF SENESCENCE HEALTH PLANNER CONTENT OR THAT DEFECTS WILL BE CORRECTED. YOU UNDERSTAND AND AGREE THAT ANY MATERIAL AND/OR INFORMATION DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SITE IS DONE AT YOUR OWN DISCRETION AND RISK.</p>


            <hr>
            <h5 class="featurette-heading">Limitation of Liability.</h5>
            <p class="lead">In no event shall SomeCompany be liable to any other party for any incidental, special or consequential damages, loss of data or data being rendered inaccurate, loss of profits or revenue, or interruption in any way arising out of or related to the use or inability to use AppFramework, regardless of the form of action, whether in contract, tort, strict product liability or otherwise, even if any representative of SomeCompany has been advised of the possibility of such damages.</p>

            <hr>
            <h5 class="featurette-heading">Indemnification.</h5>
            <p class="lead">You agree to indemnify and hold harmless SomeCompany, its officers, employees, agents, subsidiaries, affiliates and other partners, from and against any claims, actions or demands, liabilities and settlements including without limitation, reasonable legal and accounting fees, resulting from, or alleged to result from, your violation of this Agreement.</p>

            <hr>
            <h5 class="featurette-heading">HIPAA, HITECH and Privacy Compliance</h5>
            <p class="lead">SomeCompany warrants that the AppFramework is being designed and implemented so as to comply with, and permit users to comply with, all applicable local, state and federal laws and regulations related to the Health Insurance Portability and Accountability Act of 1996 (“HIPAA”) and the Health Information Technology for Economic and Clinical Health Act (“HITECH”) security and privacy rules.  In particular, SomeCompany warrents that production systems of AppFramework will operate with network encryption, user accounts with passwords, and audit logs of shared health data.</p>

            <p class="lead">SomeCompany maintains that, as a software development studio, it is not in the primary business of delivering healthcare, and is therefore a Business Associate, as per HIPAA, and not subject to the data retention rules which apply to Covered Entitites.  As such, you acknowledge that SomeCompany has no obligation to maintain, store, or transfer to you information or data that you have posted on or uploaded to the AppFramework, beyond what is available in the basic data export functionality found in each user profile.  </p>

            <hr>
            <h5 class="featurette-heading">Governing Law and Arbitration.</h5>
            <p class="lead">This Agreement shall be construed and enforced in accordance with the laws of New York. Any disputes arising under the agreement shall be brought exclusively in the federal or state courts located within the County of the state in which the Licensee is located. The parties consent to the jurisdiction and venue of such courts and waive any objections thereto.</p>

            <hr>
            <h5 class="featurette-heading">Modifications to this Agreement.</h5>
            <p class="lead">SomeCompany reserves the right to change these terms from time to time, without prior notice, by posting amended terms on this Site. We encourage you to review this Agreement periodically for any updates or changes.  These Terms, as amended, will be effective upon acceptance in registration for new users and are otherwise effective for all users 30 days after the posting of any amended terms.  </p>


            <hr>
            <p class="lead">The individuals entering into this Agreement represent and warrant that they are competent and capable of entering into a binding contract, and that they are authorized to enter into this Agreement on behalf of the Parties.</p>

        </div>
    </div>
</template>