<template name="landingPage">
    <div id="landingPage" class="page">

        <div class="container marketing" style="padding-top:20px;">

            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="featurette">
                <div class="col col-lg-6">
                    <h2 class="featurette-heading"><span class="text-muted">Meteor </span>Test Harness</h2>
                    <p class="lead">Welcome to your spiffy new test-harness for building Meteor apps.  Meteor-Testharness helps you not fall off tall buildings, mountain cliffs, bridges, windmills, or out of airplanes and zeppilins.</p>
                    <p class="lead">Actually, Meteor-Testharness won't do any of those things.  But it <bold>will</bold> help you debug your application and do end-to-end acceptance testing.  And that's almost the same thing, right?</p>
                </div>
                <div class="col col-lg-6">
                    <img class="featurette-image pull-right" src="images/ExoFitTowerClimbingHarness.jpg">
                </div>
            </div>

            <hr class="featurette-divider">

            <!--<div class="featurette">-->
                <!--<img class="featurette-image img-circle pull-left" src="placeholder-512x512.jpg">-->
                <!--<h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>-->
                <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
            <!--</div>-->

            <!--<hr class="featurette-divider">-->

            <!--<div class="featurette">-->
                <!--<img class="featurette-image img-circle pull-right" src="placeholder-512x512.jpg">-->
                <!--<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Fin.</span></h2>-->
                <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
            <!--</div>-->

            <!--<hr class="featurette-divider">-->

            <!-- /END THE FEATURETTES -->


    </div>
</template>