<template name="aboutPage">
    <div id="aboutPage" class="page">
        <div class="container marketing">
            <hr class="featurette-divider">
            <div class="featurette">
                <h4 class="featurette-heading"><span class="text-muted">another application from Abigail Watson</span></h4>
                <h4 class="featurette-heading"><span class="text-muted"><a href="https://coderwall.com/awatson1978">CoderWall</a></span></h4>
                <h4 class="featurette-heading"><span class="text-muted"><a href="https://github.com/">GitHub</a></span></h4>
                <h4 class="featurette-heading"><span class="text-muted"><a href="http://www.linkedin.com/pub/abigail-watson/30/276/714">LinkedIn</a></span></h4>
            </div>
            <hr class="featurette-divider">
        </div>
</template>