<template name="tutorialPage">
    <div id="tutorialPage" class="page">
        <div class="container">

          <hr class="featurette-divider">

          <div class="featurette">
            <div class="col col-lg-6">
              <h2 class="featurette-heading"><span class="text-muted">Continuous </span>Integration</h2>
              <p class="lead">Never receive the teacher, for you cannot know it.</p>
              <p class="lead">fortis aonidess ducunt ad advena </p>
            </div>
            <div class="col col-lg-6">
              <img class="" src="/images/screenshot.continuous.integration.png"></img>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="featurette">
            <div class="col col-lg-6">
              <h2 class="featurette-heading"><span class="text-muted">Regulatory </span>Reporting</h2>
              <p class="lead">Never receive the teacher, for you cannot know it.</p>
              <p class="lead">fortis aonidess ducunt ad advena </p>
            </div>
            <div class="col col-lg-6">
              <img class="" src="/images/screenshot.regulatory.quality.assurance.png"></img>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="featurette">
            <div class="col col-lg-6">
              <h2 class="featurette-heading"><span class="text-muted">Mini </span>Runner</h2>
              <p class="lead">You can then, obviously.</p>
              <p class="lead">fortis aonidess ducunt ad advena </p>
            </div>
            <div class="col col-lg-6">
              <img class="" src="/images/screenshot.mini.runner.png"></img>
            </div>
          </div>

          <hr class="featurette-divider">


        </div>
    </div>
</template>