<template name="aboutPage">
    <div id="aboutPage" class="page">
        <div class="container marketing">
            <hr class="featurette-divider">
            <div class="featurette">

                <div class="col col-lg-7">
                    <h5 class="contact-info"><span class="text-muted">inspired by the work of</span></h5>
                    <h5 class="contact-info"><span class="text-muted"><a href="http://xolvio.github.io/rtd/">Xolv.io | RTD</a></span></h5>
                    <h5 class="contact-info"><span class="text-muted"><a href="http://arunoda.github.io/laika/">Arunoda Susiripala | Laika</a></span></h5>
                    <h5 class="contact-info"><span class="text-muted"><a href="https://github.com/mad-eye/meteor-mocha-web">mad-eye | meteor-mocha-web</a></span></h5>
                    <br>
                    <h5 class="contact-info"><span class="text-muted">currated by Abigail Watson</span></h5>
                    <h5 class="contact-info"><span class="text-muted"><a href="https://coderwall.com/awatson1978">CoderWall</a></span></h5>
                    <h5 class="contact-info"><span class="text-muted"><a href="https://github.com/">GitHub</a></span></h5>
                    <h5 class="contact-info"><span class="text-muted"><a href="http://www.linkedin.com/pub/abigail-watson/30/276/714">LinkedIn</a></span></h5>
                </div>
                <div class="col col-lg-5">
                    <h5 class="contact-info"><span class="text-muted">download code</span></h5>
                    <h5 class="contact-info"><a href="https://github.com/awatson1978/safety-harness">awatson1978/safety-harness</a></h5>
                    <br>
                    <h5 class="contact-info"><span class="text-muted">instructions</span></h5>
                    <h5 class="contact-info"><a href="https://github.com/awatson1978/safety-harness">awatson1978/safety-harness</a></h5>
                </div>


            </div>
            <hr class="featurette-divider">
        </div>
</template>