<template name="featuresPage">
    <div id="featuresPage" class="page">

        <div class="container marketing" style="padding-top:20px;">


            <div class="featurette">
                <!--<img class="featurette-image img-circle pull-left" src="placeholder-512x512.jpg">-->
                <!--<h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>-->

                <table class="fullwidth table">
                    <thead>
                    <tr><bold>
                        <td></td>
                        <td>Tiny Test</td>
                        <td>Web-Mocha</td>
                        <td>Laika</td>
                        <td>RTD Test Runner</td>
                        <td>Safety Harness</td>
                        <td>Webshot</td>
                        </bold>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Mocha Integrated Test Runner</td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BDD assertion libraries</td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Report Interface</td>
                        <td></td>
                        <td>Web</td>
                        <td>Command Line</td>
                        <td>Command Line</td>
                        <td>Web</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tests live outside the application repository.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr class="active">
                        <td>Business Interface</td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Business Reports</td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Business stakeholder monitoring (continuous integration)</td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Continuous Integration</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Regulatory compliances appropriate formating and presentation.</td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Usable for FDA, CCHIT, SOX compliance</td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="active">
                        <td>Unit Tests</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Stubs & Mock Objects</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                    </tr>


                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="active">
                        <td>Integration Tests</td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Code Isolation</td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Code injects</td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DDP Aware</td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>User Authentication Testing</td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Multiclient Testing</td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="active">
                        <td>Acceptance Tests</td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Supports page automation and click throughs.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Can check DOM for visible elements.</td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Can check DOM of external pages for visible elements.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>PhantomJS integration.</td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Opens external webpages.</td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Selenium integration.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Multibrowser testing and hardware emulation</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="active">
                        <td></td>
                        <td>Load testing</td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="active">
                        <td></td>
                        <td>Screenshots</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="icon-ok"></i></td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <!--<hr class="featurette-divider">-->

            <!--<div class="featurette">-->
            <!--<img class="featurette-image img-circle pull-right" src="placeholder-512x512.jpg">-->
            <!--<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Fin.</span></h2>-->
            <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
            <!--</div>-->

            <!--<hr class="featurette-divider">-->

            <!-- /END THE FEATURETTES -->


        </div>
</template>