<template name="tutorialPage">
    <div id="tutorialPage" class="page">
        <div class="container">

          <hr class="featurette-divider">


          <div class="featurette">
            <div class="col col-lg-6">
              <h2 class="featurette-heading"><span class="text-muted">Web </span>Enabled</h2>
              <p class="lead">Safety Harness is web-enabled displays the acceptance tests in a webpage sidebar while viewing your site, so you can share your quality assurance status with business stakeholders.</p>
            </div>
            <div class="col col-lg-6">
              <img width="100%" src="/images/screenshot.continuous.integration.png"></img>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="featurette">
            <div class="col col-lg-6">
              <h2 class="featurette-heading"><span class="text-muted">Mini </span>Runner</h2>
              <p class="lead">With it's responsive design, you can collapse Safety Harness into a mini runner, and have it running while you're coding in other applications.  Simply resize the runner to it's narrowist setting, and place you're windows accordingly.</p>
            </div>
            <div class="col col-lg-6">
              <img width="100%" src="/images/screenshot.mini.runner.png"></img>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="featurette">
            <div class="col col-lg-12">
              <h2 class="featurette-heading"><span class="text-muted">Continuous </span>Integration</h2>
              <p class="lead">Continuous integration doesn't have to be difficult.  All it requires is refreshing the runner on a regular interval.  Safety Harness exposes a simple timer that runs the tests on a specified interval.  Easy peasy.</p>
              <div class="spacer row"></div>
              <img width="100%" src="/images/screenshot.integration.controls.png"></img>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="featurette">
            <div class="col col-lg-6">
              <h2 class="featurette-heading"><span class="text-muted">Regulatory </span>Reporting</h2>
              <p class="lead">If you've ever worked in a regulated industry, such as healthcare or finance, you know that maintaining quality assurance initiatives and submitting for regulatory review can be a major headache.  Safety Harness is designed to give you the tools you need to submit documentation to regulatory agencies such as the FDA and CCHIT. Simply print the acceptance test coverage page, and the integrated media stylesheets will format the tests to your printer which you can then submit.</p>

            </div>
            <div class="col col-lg-6">
              <img width="100%" src="/images/screenshot.regulatory.quality.assurance.png"></img>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="featurette">
            <div class="col col-lg-6">
              <h2 class="featurette-heading"><span class="text-muted">Business </span>Syntax</h2>
              <p class="lead">Business steakholders speak the language of business.  That's why it's important your acceptance tests support Behavior Driven Development (BDD) style syntax in your unit tests and acceptance tests.</p>
            </div>
            <div class="col col-lg-6">
              <img width="100%" src="/images/screenshot.chai.assertions.png"></img>
            </div>
          </div>

          <hr class="featurette-divider">

        </div>
    </div>
</template>