<template name="homePage">
    <div id="homePage" class="page">
        <div class="container marketing">

            <hr class="featurette-divider">

            <div class="featurette">
                <div class="col col-lg-6">
                    <h2 class="featurette-heading"><span class="text-muted">Meteor </span>Safety Harness</h2>
                    <p class="lead">Welcome to your spiffy new test-harness for building Meteor apps.  Meteor Safety Harness helps you not fall off tall buildings, mountain cliffs, bridges, windmills, or zeppilins.</p>
                    <p class="lead">Actually, Safety Harness won't do any of those things.  But it <bold>will</bold> help you debug your application and do end-to-end acceptance testing. </p>
                    <p class="lead">And that's almost the same thing, right?</p>
                </div>
                <div class="col col-lg-6">
                    <img class="featurette-image pull-right" width="100%" src="images/ExoFitTowerClimbingHarness.jpg">
                </div>
            </div>
            <hr class="featurette-divider">
        </div>
</template>