<template name="tutorialPage">
    <div id="tutorialPage" class="page">
        <div class="container">

          <hr class="featurette-divider">


          <div class="featurette">
            <div class="col col-lg-6">
              <h2 class="featurette-heading"><span class="text-muted">Web </span>Enabled</h2>
              <p class="lead">Safety Harness is web-enabled, and not only supports viewing of external sites during test runs, but it displays the acceptance tests in a webpage itself.  Why is this important?  So you can share your quality assurance with business stakeholders.</p>
            </div>
            <div class="col col-lg-6">
              <img width="100%" src="/images/screenshot.continuous.integration.png"></img>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="featurette">
            <div class="col col-lg-6">
              <h2 class="featurette-heading"><span class="text-muted">Mini </span>Runner</h2>
              <p class="lead">You can then, obviously.</p>
              <p class="lead">fortis aonidess ducunt ad advena </p>
            </div>
            <div class="col col-lg-6">
              <img width="100%" src="/images/screenshot.mini.runner.png"></img>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="featurette">
            <div class="col col-lg-12">
              <h2 class="featurette-heading"><span class="text-muted">Continuous </span>Integration</h2>
              <p class="lead">Continuous integration doesn't have to be difficult.  All it requires is refreshing the runner on a regular interval.  Safety Harness exposes a simple timer that runs the tests on a specified interval.  Easy peasy.</p>
              <div class="spacer row"></div>
              <img width="100%" src="/images/screenshot.integration.controls.png"></img>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="featurette">
            <div class="col col-lg-6">
              <h2 class="featurette-heading"><span class="text-muted">Regulatory </span>Reporting</h2>
              <p class="lead">Never receive the teacher, for you cannot know it.</p>
              <p class="lead">fortis aonidess ducunt ad advena </p>
            </div>
            <div class="col col-lg-6">
              <img width="100%" src="/images/screenshot.regulatory.quality.assurance.png"></img>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="featurette">
            <div class="col col-lg-6">
              <h2 class="featurette-heading"><span class="text-muted">Business </span>Syntax</h2>
              <p class="lead">Chai assertion library.</p>
              <p class="lead">fortis aonidess ducunt ad advena </p>
            </div>
            <div class="col col-lg-6">
              <img width="100%" src="/images/screenshot.chai.assertions.png"></img>
            </div>
          </div>

          <hr class="featurette-divider">

        </div>
    </div>
</template>