#mocha{

}

#mocha-stats{

}

#mocha-report{
  font-size: 120%;
  .suite{
    padding-top: 5px;
    .suite{
      ul{
        padding-top: 10px;
        pre{
          width: 100%;
        }
      }
    }
  }
}

